body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*NavBar*/
.navbar-brand.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
.navLink {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.nav-item {
  padding: 0px 20px;
}

/*Title*/
#title {
  background-color: #040303;
}
.p-title {
  font-size: 2rem;
}
.h1-title {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}
.titleRow {
  text-align: left;
  padding: 3% 7%;
  padding-left: 16px;
  color: #ffff;
}
.i {
  color: #f58840;
  font-weight: bold;
}

.btnCv {
  margin: 7% 30%;
  background-color: #f58840;
  height: 3rem;
}

.Profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/*button in title*/
a.pdf {
  color: inherit;
  text-decoration: none;
  color: #ffff;
}

a.pdf:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*About Section*/
.section-title {
  padding: 1% 14%;
  background-color: #f58840;
  font-family: "Roboto", sans-serif;
}
.section-title h1 {
  color: #ffff;
}

.about-Container {
  text-align: left;
  background-color: #040303;
  color: #ffff;
}
.img1-Class {
  text-align: center;
}
.img1 {
  width: 50%;
  padding: 5% 0% 7%;
}
.about-content {
  padding: 5% 0% 7%;
}
.about-Container h1 {
  color: #f58840;
  padding: 3% 5%;
}

.about-list ul {
  padding-left: 5px 0px 5px 10px;
}
.about-list ul li {
  list-style: none;
}
.about-list ul li i {
  color: #f58840;
  padding-right: 10px;
}

/*Count Container*/
.count-container {
  background-color: #040303;
  color: white;
  padding: 20px;
}
.count-box {
  padding: 20px;
  text-align: center;
  width: 100%;
  background: rgba(255, 2555, 255, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}
.count-box i {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-25px);
  color: #f58840;
}
.count-box span {
  font-size: 2.5rem;
  display: block;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.count-box p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
/*Skills*/
.skills-title {
  padding: 1% 14%;
  background-color: #f58840;
  font-family: "Roboto", sans-serif;
}
.skills-title h1 {
  color: #ffff;
}
.skills-title p {
  padding: 0%;
}

.skills-content {
  background-color: #040303;
  color: #ffff;
  padding: 5% 5%;
}
div .skills-container row skills-content {
  margin-left: 0;
  margin-right: 0;
}

.skills-progress span {
  font-size: 1.5rem;
  font-weight: 600;
}

.progress-bar text {
  size: 3rem;
}
.progress-h {
  height: 20px;
}

/*Intersts*/
.interests-title {
  padding: 1% 14%;
  background-color: #f58840;
  font-family: "Roboto", sans-serif;
}
.interests-title h1 {
  color: #ffff;
}
.interests-content {
  background-color: #040303;
  color: #ffff;
  padding: 2% 3%;
}
.interests-block {
  padding: 0px 15px;
  margin-bottom: 10px;
}
.icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 2555, 255, 0.3);
}
.interests-block i {
  color: #f58840;
  padding-right: 3%;
}

/*Services*/
.Services-title {
  padding: 1% 14%;
  background-color: #f58840;
  font-family: "Roboto", sans-serif;
}
.Services-title h1 {
  color: #ffff;
}
.Services-title p {
  padding: 0%;
}
.Services-Content {
  background-color: #040303;
}
.icon-box-services {
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  background: rgba(255, 2555, 255, 0.3);
  margin: 15px 10px;
}
.icon-box-services:hover {
  background: #f58840;
}
.icon-box-services:hover i {
  color: #ffff;
}
.icon-box-services:hover h4 {
  color: #040303;
}
.icon-box-services i {
  color: #f58840;
  margin-bottom: 10px;
}
.icon-box-services h4 {
  color: #ffff;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 35px;
}
.icon-box-services p {
  color: #ffff;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}
/*Contact me */
.mb-4 {
  background-color: #040303;
  margin-bottom: 0rem !important;
}
.contact-container {
  background: #040303;
  color: #ffff;
  padding: 20px;
}
.contact-container h2 {
  color: #f58840;
}
.contact-container .contact-content {
  margin: 30px 20px;
}
.btnsend {
  background-color: #f58840;
  height: 3rem;
}
/*Information*/
.info-content {
  background-color: #040303;
  color: #ffff;
  text-align: center;
}
.info-content h4 {
  font-weight: 700;
  padding: 1%;
}
.info-content h4:hover {
  color: #f58840;
}
/*Footer*/

#footer {
  text-align: center;
  display: inline;
}
.footer-container {
  background-color: #040303;
  padding: 3% 15% 2%;
  color: #ffff;
}
.social-icons {
  padding: 2%;
}
.social-icons i {
  margin: 0 10px;
}
.social-icons i:hover {
  color: #f58840;
}
